{{extend 'layout.html'}}
{{response.title = 'Registration Page'}}
<div class="container-fluid main-container">


    <div class="row">
        <div id="web2py_user_form" class="col-lg-6"
            style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">
            <h2>
            Registration System
            </h2>
            <br>
            <a href="/Registration_System/default/login">Login</a>
            <br>
            <a href="/Registration_System/default/register">Register</a>
        </div>
    </div>
</div>



